RFC: implement rough compability for core LDAPv3

This is defined in RFC4510 to follow:
* [ ] LDAP: Technical Specification Road Map [RFC4510]
* [x] LDAP: The Protocol [RFC4511]
* [ ] LDAP: Directory Information Models [RFC4512]
* [ ] LDAP: Authentication Methods and Security Mechanisms [RFC4513]
* [x] LDAP: String Representation of Distinguished Names [RFC4514]
* [ ] LDAP: String Representation of Search Filters [RFC4515]
* [ ] LDAP: Uniform Resource Locator [RFC4516]
* [ ] LDAP: Syntaxes and Matching Rules [RFC4517]
* [ ] LDAP: Internationalized String Preparation [RFC4518]
* [ ] LDAP: Schema for User Applications [RFC4519]

Each RFC which was read as a whole and incorporated mostly will be checked here. All inconsistencies between the current implementation and the RFC specification will be tracked in separate issues.